<!DOCTYPE html>
<html>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no
		initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<title>Snakes and Ladders</title>
	<!-- -->
	<style>@import 'ui/css/evothings-app.css';
		* {
			box-sizing: border-box;
		}
		p.topic {
			font-weight: bold;
		}
	</style> 
    <!-- cordova.js based -->
	<script src="cordova.js"></script>
    <!-- AnyboardJS libraries -->
	<script src="dist/anyboard.js"></script> 
    <!-- Bluetooth driver and dependencies-->
    <script src="libs/evothings/evothings.js"></script>
    <script src="libs/evothings/easyble/easyble.js"></script>
    <script src="drivers/discovery.evothings.bluetooth.js"></script>
	<script src="drivers/bean.evothings.bluetooth.js"></script>
    <script src="drivers/rfduino.evothings.bluetooth.js"></script>
	<!-- We've used jquery for quick development -->
    <script src="libs/jquery-1.11.3.min.js"></script>	
		<script>
			 $(document).ready(function(){
				//Will tell Anyboard to log everything
				AnyBoard.Logger.threshold = 0;
				$("#weHaveConnectedToPawn").hide();
			});			
		</script>
		<script src="dist/anyboardHandler.js"></script>	
		<script type="text/javascript">
			//tokenlistener for continiously detecting TAP,DOUBLE_TAP,SHAKE,TILT and MOVE_TO(movement).
				AnyBoard.TokenManager.onTokenEvent("TAP", handleTokenTap);
				AnyBoard.TokenManager.onTokenEvent("DOUBLE_TAP", handleTokenDoubleTap);
				AnyBoard.TokenManager.onTokenEvent("SHAKE", handleTokenShake);
				AnyBoard.TokenManager.onTokenEvent("TILT", handleTokenTilt);
				AnyBoard.TokenManager.onTokenConstraintEvent("MOVE_TO",handleTokenMove);
			
		    //tokenlistener for detecting a single TAP,DOUBLE_TAP,SHAKE,TILT and MOVE_TO(movement). Only detected/executed once.
		    	AnyBoard.TokenManager.onceTokenEvent("TAP" singleTokenTap);
		    	AnyBoard.TokenManager.onceTokenEvent("DOUBLE_TAP" singleTokenDoubleTap);
		    	AnyBoard.TokenManager.onceTokenEvent("SHAKE" singleTokenShake);
		    	AnyBoard.TokenManager.onceTokenEvent("TILT" singleTokenTilt);
		    	AnyBoard.TokenManager.onceTokenConstraintEvent("MOVE_TO",singleTokenMove);
		</script>
		
	
	</head>
	<body>
	<h1>AnyBoard Template</h1>
	<br>
	
	<div id="summary">
	Hello! Discover tokens by pressing the "Discover Tokens" button! This will trigger the <b>AnyBoard.TokenManager.Scan</b> function which locate nearby bluetooth signals. The devices found is then listed by the <b>addToken</b> function in the <b>anyBoardHandler.js</b> file. TO connect to your device, simply press the button which displays the name of your device. 
	<button onclick="discoverTokens()">Discover Tokens</button>
    <div id="availableTokens"></div>
    </div>
    <div id="weHaveConnectedToPawn">We have connected to Anypawn!
	
    <div id="msg"></div>
    </div>
    
    </br>

	</body>	
</html>
