/**************************************************************************
# 	NAME: perso.css
# 	AUTHOR: Matthias Monnier
# 	
# 	Css used for the evothing app
#
**************************************************************************/

#main {
	margin-top : -50px;
}

#summary {
	margin-top : -50px;
}

#token_token, #token_constraint {
	height : 110px;
	margin-bottom : 20px;
}

#token_solo {
	height : 140px;
	margin-bottom : 20px;
}

#token_feedback {
	height : 500px;
	margin-bottom : 20px;
}

#ind {
}

.indicator {
	display: inline-block;
	box-sizing: border-box; /* Width & height includes padding & border. */

	font-family: 'Proxima Nova Black';
	font-size: inherit;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #fff;

	margin: 0.3em 0 0.3em 0;
	padding: 9px 13px 8px 13px;
	width: 49%;
	border-radius: 4px;
	border: none;

	box-shadow: none;

	background-color: #99C2FF; /* Default color: "Charcoal" */
}

.indicator2 {
	display: inline-block;
	box-sizing: border-box; /* Width & height includes padding & border. */

	font-family: 'Proxima Nova Black';
	font-size: inherit;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #fff;

	margin: 0.3em 0 0.3em 0;
	padding: 9px 13px 8px 13px;
	width: 98%;
	border-radius: 4px;
	border: none;

	box-shadow: none;

	background-color: #99C2FF; /* Default color: "Charcoal" */
}

.indicator3 {
	display: inline-block;
	box-sizing: border-box; /* Width & height includes padding & border. */

	font-family: 'Proxima Nova Black';
	font-size: inherit;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #fff;

	margin: 0.3em 0 0.3em 0;
	padding: 9px 13px 8px 13px;
	width: 98%;
	border-radius: 4px;
	border: none;

	box-shadow: none;

	background-color: #87CB87; /* Default color: "Charcoal" */
}

#color {
	vertical-align: center;
	width: 40px;
	height: 40px;
	background-color: white;
	margin: 0.3em auto 0.3em auto;
	border-style: solid;
	border-width: 0.1em;
}

.previous_tile {
	float: left;
}

.current_tile {
	float: left;
}

.arrow {
	margin: 0.5em 0.8em auto 0.8em;
	border-color:white;
	float: left;
}

#tiles {
	margin-left: 80px;
}

.unavailable{
	background-color: #D3D3D3;
}